[Unit]
Description=clunk80-ssm-agent
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/clunk80-ssm-agent
KillMode=process
Restart=on-failure
RestartForceExitStatus=SIGPIPE
RestartSec=15min

[Install]
WantedBy=multi-user.target
