Section: admin
Depends: libc6
Priority: optional
Copyright: Apache License, Version 2.0
Suggests: aws-ssm-agent-doc
Maintainer: Commonwealth Crypto, Inc. <support@bastionzero.com>
Description: Modified Amazon SSM Agent for use with bastionzero.com

